<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="mailFrom" value="admin@bbss.co.th" />
    <add key="mailFromName" value="True VMS System" />
    <add key="mailSMTPServerName" value="win03-mail.zth.netdesignhost.com" />
    <add key="mailSMTPUserName" value="admin@bbss.co.th" />
    <add key="mailSMTPUserPassword" value="Bbss1212!" />
    <add key="mailSMTPServerPort" value="587" />
    <add key="mailSMTPSSL" value="false" />
    <add key="webserver" value="http://49.0.82.124:8009" />


    <add key="dbUser" value="vmsadmin" />
    <add key="dbPassword" value="p@ssw0rd1234" />
    <add key="dbName" value="htvms" />
    <add key="dbIp" value="49.0.82.124" />


    <add key="warningLoop1" value="-7" />
    <add key="warningLoop2" value="-3" />
    <add key="warningLoop3" value="-1" />
    <add key="warningProjectExpire" value="-15" />

    <add key="clearOtp" value="15" />
    
    
    <add key="SendingActivateEmail" value="1" />
    <add key="minAppUserId" value="0" />
    <add key="maxAppUserId" value="100" />

    <add key="warninEmail" value="rushy14@gmail.com" />

    <add key="isDebug" value="true" />
    
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    
    
    
    <providers>
    <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.27.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>